.BookArt{
    border:0;
    font-family:'League Spartan';
    font-size: 1.5vw;
    color: #1962B9;
    background-color: white;
    border-radius: 2vw;
    transition: ease-in-out 150ms;
    width: 14vw;
}
.BookArt:hover{
    background-color: #1962B9;
    color: white;
}

.selectMonth{
    display: flex;
    font-size: 1.4vw;
    color: #1962B9;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border:0;
    border-radius: 2vw;
    width: 18vw;
    transition: ease-in-out 150ms;
}

.selectMonth:hover{
    background-color: #1962B9;
    color: white;
}
.selectMonth.svg.path{
    fill: #1962B9; 
    transition: ease-in-out 150ms;
}
.selectMonth:hover .svg.path{
    fill: #ffffff; 
}

.dropdown{
    margin-left: 1vw;
    margin-right: 30vw;
    padding: 2vw;
    display: flex;
    justify-content: space-between;
    width: 18%;
    background-color: rgb(255, 255, 255);
    align-items: center;
    border-radius: .8vw;
}
.dropdown-item{
    font-size: 1vw;
    text-decoration: none;
    background-color:#1962B9;
    padding: 1vw;
    color: #ffffff;
}